*.gz
*.aux
*.log
*.lof
*.lot
*.synctex*
*.toc
*.out
*.pdf
*.blg
*.bbl
*.lol
*.fdb_latexmk
*.fls
# !/Gene_Thesis_2021/bookname.pdf
# !/Gene_Thesis_2021/Gene-thesis-ntut-2021(口試前版本).pdf
!/Vynax_Thesis_2022/Vynax-thesis-ntut-2022_口試前版本.pdf
!/Vynax_Thesis_2022/20220921114815.pdf